name: Documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Documentation
    runs-on: ubuntu-latest

    container:
      image: ruby:4.0-rc-alpine

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          apk add build-base cmake git tar

      - name: Cache Gems
        uses: actions/cache@v5.0.1
        with:
          path: vendor/bundle
          key: Linux-4.0-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            Linux-4.0-gem-

      - name: Install Gems
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build YARD documentation
        run: bundle exec yard doc

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: doc

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@main
